<p>Hey there <%= @user.username %></p>
<p>Most members have input their availability so you can start organizing for collabs!</p>
<p>You can check who you overlap with at <%= link_to 'Scheduler app', 'https://odaiba-scheduler.herokuapp.com/' %> and reach out to them on Slack.</p>
<p>Remember that you can write any feedback for the app on <%= link_to 'Slack', 'https://app.slack.com/client/T016E9WJ8F4/C01E39SPL4W' %></p>
<p>Cheers</p>
