<p>Hey there <%= @user.username %></p>
<p>This is a gentle reminder to input your availability for the next week. Make sure to head over to the <%= link_to 'Scheduler app', 'https://odaiba-scheduler.herokuapp.com/' %> to fill it out</p>
<p>Remember that you can write any feedback for the app on <%= link_to 'Slack', 'https://app.slack.com/client/T016E9WJ8F4/C01E39SPL4W' %></p>
<p>Cheers</p>
