.app-container {
  display: flex;
}

.time-container {
  padding: 8px 16px 16px 4px;
  text-align: center;
  p {
    font-size: 12px;
    margin-bottom: 0px;
    padding-bottom: 4px
  }
}

.week-container {
  display: flex;
  padding-top: 8px;
  padding-right: 16px;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}

.week-container.editable {
  color: rgb(150, 150, 150);
  .time-block {
    border-top: 1px solid rgb(150, 150, 150);
    &:last-child {
      border-bottom: 1px solid rgb(150, 150, 150);
    }
  }
  .time-block.active {
    background-color: #d5d9fe;
  }
  .block-icons {
    .active {
      // color: #FAEF73;
      color: #F7BE29;
    }
  }
}

.day-container{
  width: 14%
}

.time-block-container {
  height: 87vh;
  p {
    font-size: 12px;
    margin-bottom: 0px;
    padding-bottom: 4px
  }
}

.toolbar-container {
  display: flex;
  height: inherit;
  align-items: center;
  .toolbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    background-color: #F7BE29;
    width: 12px;
    transition: width 2s ease-in-out, color 2s ease-in-out;
    color: #F7BE29;
    text-align: center;
    h4 {
      padding: 64px 16px 16px 16px;
      overflow: hidden;
      white-space: nowrap;
      visibility: hidden;
    }
    .skill {
      font-size: 1px;
      overflow: hidden;
      white-space: nowrap;
    }
    .hidden-available-button {
      visibility: hidden;
    }
  }
  .toolbar-button {
    display: flex;
    align-items: center;
    position: relative;
    right: 8px;
    height: 100%;
    cursor: pointer;
    svg {
      background-color: #F7BE29;
      border-radius: 50%;
      height: 16px;
      width: 16px;
    }
  }
  .toolbar.active {
    width: 16vw;
    color: #444;
    h4 {
      visibility: visible;
    }
    .skills {
      padding-bottom: 64px;
      margin: auto;
      text-align: center;
      .skill {
        color: rgba(160, 160, 160, 0.4);
        padding-bottom: 8px;
        cursor: pointer;
        font-size: 48px;
        width: inherit;
        &:after {
          display:block;
          content: '';
          border-bottom: solid 3px #A4ABFC;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
        }
        &:hover:after {
          transform: scaleX(1);
        }
      }
      .skill.active {
        color: #A4ABFC;
      }
    }
  }
}
