// For MBP 13
@media (min-width: 992px) and (max-width: 1300px) {
  .app-container {
    h4 {
      font-size: 16px;
    }
    h3 {
      font-size: 16px;
    }
    .toolbar-container {
      .toolbar.active {
        .skill {
          font-size: 32px;
          p {
            font-size: 12px;
            margin-bottom: 4px;
          }
        }
      }
    }
    .time-container {
      p {
        font-size: 9.5px;
      }
    }
    .week-container {
      .time-block {
        height: 19px;
        .multiple-availabilities-icon {
           bottom: 2px;
        }
        .block-icons {
          font-size: 12px;
        }
      }
    }
    .week-container.editable {
      .time-block {
        p {
          font-size: 9px;
        }
      }
    }
  }
}
