.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.user-skills {
  a {
    text-decoration: none;
    margin: 0px 4px;
    color: rgb(200, 200, 200);
    cursor: pointer;
    &:after {
      display:block;
      content: '';
      border-bottom: solid 3px #F7BE29;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }
    &:hover:after {
      transform: scaleX(1);
    }
  }

  a.active {
    color: #F7BE29;
  }
}

.availability-count {
  i {
    font-size: 32px;
    color: #F7BE29;
  }
}
