.time-block {
  border-top: 1px solid rgb(50, 50, 50);
  height: 23px;
  transition: height 0.1s ease-out;
  p {
    display: none;
  }
  &:last-child {
    border-bottom: 1px solid rgb(50, 50, 50);
  }
  &:hover {
    height: 64px;
    p {
      display: block;
      font-size: 12px;
    }
  }
}

.availability-icon{
  cursor: pointer;
}

.time-block.active {
  background-color: #D8BFD8;
}
