.time-block {
  border-top: 1px solid rgb(50, 50, 50);
  height: 23px;
  transition: height 0.1s ease-out;
  p {
    display: none;
  }
  .multiple-availabilities-icon {
    display: none;
  }
  &:last-child {
    border-bottom: 1px solid rgb(50, 50, 50);
  }
  &:hover {
    // height: 64px;
    p {
      display: block;
      font-size: 12px;
    }
    .block-icons {
      display: none;
    }
  }
  .block-icons {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    color: transparent;
    .active {
      color: #F7BE29;
    }
  }
}

.availability-icon{
  cursor: pointer;
}

.time-block.active {
  background-color: #A4ABFC;
  .multiple-availabilities-icon {
    color: #F7BE29;
    display: initial;
  }
  &:hover {
    .multiple-availabilities-icon {
      display: none;
    }
  }
}

.time-block.highlight {
  background-color: #F7BE29;
}

.availability-username {
  p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
